
	table.one {border-collapse:collapse;}
	table.two {border-collapse:separate;}
	td.a {
	border-style:dotted; border-width:3px; border-color:#000000; padding: 10px;
	}
	td.b {border-style:solid; border-width:3px; border-color:#333333;
	padding:10px;
	}
	
	table.one, table.two {border-spacing:10px; 15px;}

